### [참고] <a href="https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf">Pandas Cheat Sheet</a>

## 데이터 타입

### 1.Series(https://pandas.pydata.org/docs/reference/api/pandas.Series.html)

<img src="https://bites-data.s3.us-east-2.amazonaws.com/series_spreadsheet.png" width="300" height="200">

### 생성

#### 1) 리스트

In [2]:
list1 = [70,80,90]

In [3]:
import pandas as pd

ser = pd.Series(list1)
ser

0    70
1    80
2    90
dtype: int64

In [4]:
ser1 = pd.Series(list1, index=["국어","영어","수학"])
ser1

국어    70
영어    80
수학    90
dtype: int64

#### 2) 딕셔너리

In [5]:
ser2 = pd.Series({"a":1, "b":2, "c":3})
ser2

a    1
b    2
c    3
dtype: int64

#### Read

In [6]:
# index 조회

ser1.index

Index(['국어', '영어', '수학'], dtype='object')

In [7]:
# values 조회

ser1.values

array([70, 80, 90], dtype=int64)

In [8]:
# values 에서 상위 5개만 조회
print(ser1.head(2))

print(ser1.tail(1))

국어    70
영어    80
dtype: int64
수학    90
dtype: int64

In [9]:
# shape - 데이터 구조를 (행, 열)형태로 출력
ser1.shape

(3,)

#### Update

In [10]:
# index 변경

ser1.index = ["미술","음악","체육"]
ser1

미술    70
음악    80
체육    90
dtype: int64

In [11]:
# 데이터 타입 변경

# 원본을 변경하지는 않음
print(ser1.astype("float64"))

print(ser1)

ser1 = ser1.astype("float64")
print(ser1)

미술    70.0
음악    80.0
체육    90.0
dtype: float64
미술    70
음악    80
체육    90
dtype: int64
미술    70.0
음악    80.0
체육    90.0
dtype: float64

In [12]:
ser3 = pd.Series(["1.1","2.2","3.3"])
ser3

0    1.1
1    2.2
2    3.3
dtype: object

In [13]:
ser4 = pd.Series(["test","2.2","3.3"])
ser4

0    test
1     2.2
2     3.3
dtype: object

In [14]:
# ValueError => could not convert string to float
# ser4.astype("float64")

In [15]:
ser1["음악"] = 85
ser1

미술    70.0
음악    85.0
체육    90.0
dtype: float64

In [16]:
ser1 = ser1.rename("점수")
ser1

미술    70.0
음악    85.0
체육    90.0
Name: 점수, dtype: float64

#### 삭제

In [17]:
del ser1["체육"]
ser1

미술    70.0
음악    85.0
Name: 점수, dtype: float64

#### 3) ndarray

In [18]:
# numpy 데이터 타입 : ndarray
import numpy as np

ser5 = pd.Series(np.random.randn(4), index = list("abcd"))
ser5

a   -3.084690
b   -0.432419
c   -0.750999
d   -0.603990
dtype: float64

#### 4) DataFrame 이용

In [19]:
df = pd.DataFrame({"a":[1,2,3,4], "b":[5,6,7,8]})
df

   a  b
0  1  5
1  2  6
2  3  7
3  4  8

In [20]:
ser5 = pd.Series(df["a"])
ser5

0    1
1    2
2    3
3    4
Name: a, dtype: int64