### 데이터 프레임 다른 포맷 형식으로 저장

<img src="https://pandas.pydata.org/docs/_images/02_io_readwrite.svg">

In [2]:
import pandas as pd

In [3]:
dict_data={
    "c0":[1,2,3],
    "c1":[4,5,6]
}
df = pd.DataFrame(dict_data)
df

   c0  c1
0   1   4
1   2   5
2   3   6

In [4]:
df.to_csv("./df1.csv",index=False)

In [17]:
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from webdriver_manager.chrome import ChromeDriverManager

def set_chrome_driver():
    chrome_options = webdriver.ChromeOptions()
    # chrome_options.add_argument("--start-maximized")
    # --headless : 브라우저는 뜨지 않고 결과만 크롤링해오는 옵션
    # chrome_options.add_argument("--headless")
    driver = webdriver.Chrome(
        service=Service(ChromeDriverManager().install()), options=chrome_options
    )
    return driver

### Youtube 댓글 크롤링 후 데이터 프레임 생성

In [18]:
from bs4 import BeautifulSoup

In [26]:
import time
driver = set_chrome_driver()
driver.get("https://www.youtube.com/watch?v=HosW0gulISQ")

time.sleep(3)
prev_height = driver.execute_script("return document.documentElement.scrollHeight")

interval = 1

while True:
    driver.execute_script("window.scrollTo(0,document.documentElement.scrollHeight)")
    time.sleep(interval)

    curr_height = driver.execute_script("return document.documentElement.scrollHeight")
    if curr_height == prev_height:
        break

time.sleep(2)
soup = BeautifulSoup(driver.page_source,"lxml")

KeyboardInterrupt:

In [27]:

author_list = soup.select("#author-text > span")
contents = soup.select("#content-text")

print(len(author_list), len(contents))

20 20

In [28]:
df = pd.DataFrame({"author":author_list, "comment":contents})
df.head()

,author,comment
0,[\n @user-vj4lt5vu2r\n ],"[[""성공한 사람에게는 추억을""], [\n], [""성공할려는 자에게는 용기를""]]"
1,[\n @Jerjeon\n ],[와 진짜 영화 한장면 넣어놓은거 같음..전율이 미쳤음...와...소름돋는다]
2,[\n @user-yz5ti1wp3u\n ],"[[데뷔할 때만 해도 20대였던 크리스와 멤버들..], [\n], [어느덧 벌써 4..."
3,[\n @user-hd8vz7ww7w\n ],"[진짜 들을 때마다 매순간 빠짐없이 벅차오르는 개미친 노래 .., ㄹㅇ 죽기 전에는..."
4,[\n @qjsdurwhk\n ],[10년 넘게 들어도 질리지 않는 명곡...]

In [29]:
df.to_csv("./youtube.csv",index=False)

In [31]:
# 태그 제거
author_new = []
contents_new = []

for i in range(len(author_list)):
    # 작성자 가져오기
    author = author_list[i].text
    author = author.replace("\n","")
    author = author.replace("\t","")
    author = author.replace("       "," ")
    author_new.append(author)

    content = contents[i].text
    content = content.replace("\n","")
    content = content.replace("\t","")
    content = content.replace("       "," ")
    contents_new.append(content)

In [32]:
df = pd.DataFrame({"author":author_new, "comment":contents_new})
df.head()

                     author                                            comment
0    @user-vj4lt5vu2r                          "성공한 사람에게는 추억을""성공할려는 자에게는 용기를"
1            @Jerjeon                와 진짜 영화 한장면 넣어놓은거 같음..전율이 미쳤음...와...소름돋는다
2    @user-yz5ti1wp3u        데뷔할 때만 해도 20대였던 크리스와 멤버들..어느덧 벌써 40이 넘어가셨네..진짜...
3    @user-hd8vz7ww7w        진짜 들을 때마다 매순간 빠짐없이 벅차오르는 개미친 노래 .., ㄹㅇ 죽기 전에는 ...
4          @qjsdurwhk                                  10년 넘게 들어도 질리지 않는 명곡...

In [33]:
df.to_csv("./youtube1.csv",index=False)

#### [참고] 전체 스크롤의 크기 확인하기

In [10]:
height = driver.execute_script("return document.body.scrollHeight")
print("body_scrollHeight",height)

doc_height = driver.execute_script("return document.documentElement.scrollHeight")
print("documentElement_scrollHeight",doc_height)

body_scrollHeight 0
documentElement_scrollHeight 2193